<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello {{name}}!</p>
        <p>{{event}} has been canceled:</p>
        <p>Event: {{event}}</p>
        <p>Inviter: {{sender}}</p>
        <p>Location: {{location}}</p>
        <p>Date: {{date}}</p>
        <p>Duration: {{duration}} minutes</p>
        <p>Attendees: {{attendees}}</p>
        <p>Notes: {{notes}}</p>
    </body>
</html>